.vscode/*

!.vscode/astylerc
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.svd

*.orig

[bB]uild/
[bB]uild*
[rR]elease/*
[rR]eport/*

!.vscode/STM32L4x3.svd
!.vscode/STM32L476.svd
